<div class="my-expenses container" style="padding-top: 80px">
  <h4 class="text-center expenses-title"><%= @user.first_name %>'s expense lists</h1>

<div class="expenses-links">
  <div class="links btn-expenses">
    <%= link_to 'All expenses', home_expenses_path(current_user.home) %>
  </div>

  <%= link_to new_home_expense_path(current_user.home), class:"action-button" do %>
  <i class="fas fa-plus fa-2x "></i>
  <% end %>
</div>

<% current_user.expense_shares.each do |share| %>
  <div class="card expenses-card" style="width: 30rem;">
    <div class="expenses-card-content">
      <h4><%= link_to share.expense.name, home_expense_path(@home, share.expense), class:"text-center" %></h4>
    </div>
    <div class="card-footer expenses-card-footer">
      <ul>
        <li>Amount: <strong class="amount">$ <%= share.share_amount.round %></strong></li>
        <li>Due on: <span class="color-white"><%= share.expense.due_on.strftime('%d %b') %></span></li>
        <li>Description: <%= share.expense.description %></li>
        <li class="btn-mark"><%= render "expenses/switch", expense: share %></li>
      </ul>
      <% if share.paid %>
        <div><i class="far fa-check-circle fa-2x mark-done"></i></div>
      <% else %>
        <div><i class="far fa-check-circle fa-2x mark-yet"></i></div>
      <% end %>
    </div>
  </div>
<% end %>




