<div class="my-expenses container">
  <h1 class="text-center"><%= @user.first_name %>'s bills</h1>

<div class="expenses-links">
  <div class="links btn-expenses">
    <%= link_to 'All expenses', home_expenses_path(current_user.home) %>
  </div>


    <div class="links btn-add-expenses">
      <%= link_to new_home_expense_path(current_user.home), class:"action-button" do %>
      <i class="fas fa-plus fa-2x "></i>
      <% end %>
    </div>
  </div>

<% current_user.expense_shares.each do |share| %>
    <div class="card bg-dark expenses-card" style="width: 30rem;">
      <% if share.paid %>
        <div class="swal2-icon swal2-success swal2-animate-success-icon style="display: flex;">
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
        </div>
      <% else %>
        <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
      <% end %>
      <ul>
        <li>Expense: <%= link_to share.expense.name, home_expense_path(@home, share.expense), class:"text-center" %></li>
        <li>Amount <strong class="amount">$ <%= share.share_amount.round %></strong></li>
        <li>Due on: <%= share.expense.due_on %></li>
        <li class="btn-mark"><%= render "expenses/switch", expense: share %></li>
      </ul>
    </div>
  <% end %>

