<h1>Your bill</h1>

<div class="card" style="width: 18rem;">
  <table>
    <tbody>
      <tr><th>Bill:</th><td><%= @expense.name %></td></tr>
      <tr><th>$ </th><td><%= @expense.amount %></td><td>to pay</td></tr>
      <tr><th>Due on:</th><td><%= @expense.due_on %></td></tr>
      <tr><th>Description:</th><td><%= @expense.descreption %></td></tr>
      <tr>
      <th>Paiment Status:<th>
      <% if expense_share.paid %>
        <td><%= "Paid" %></td>
      <% else %>
        <td><%= "Unpaid" %></td>
      <% end %>
      </tr>
    </tbody>
  </table>

  <div id="paiment_status">
    <%= link_to 'Unpaid', home_expense_expense_share_path(expense_share, expense_share: { paid: false }), method: :patch, data: { confirm: 'Are you sure?' } %> |
      <% if expense_share.paid != true %>
      <%= link_to 'Paid', home_expense_expense_share_path(expense_share, expense_share: {paid: true }), method: :patch, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<div class="links">
  <%= link_to " Back ", home_expenses_path %>
</div>
