<h1>My bill</h1>

<div class="card" style="width: 18rem;">
  <table>
    <tbody>
      <tr><th>My Expenses:</th><td><%= link_to @expense_share.expense.name, home_expense_share_path(@home, @expense_share), class:"text-center" %></td></tr>
      <tr><th>$ </th><td><%= @expense_share.share_amount %></td><td>to pay</td></tr>
      <tr><th>Due on:</th><td><%= @expense_share.expense.due_on %></td></tr>
      <tr>
      <th>Paiment Status:<th>
      <% if @expense_share.paid %>
        <td><%= "Paid" %></td>
      <% else %>
        <td><%= "Unpaid" %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div class="links">
  <%= link_to " Back ", home_expenses_path %>
</div>
