<div class="chatroom container">
  <h1>#<%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>
 
  <div class="chatbox">
    <div class="author-and-message">
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "##{@chatroom.name}" %>
    </div>
      <div class="send-message-btn">
        <%= f.submit "Send" %>
      </div>
    <% end %>
  </div>
</div>
