

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

    <% if user_signed_in? && current_user.home  %>
      <%= link_to dashboard_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <div class="avatar img">
     <li class="nav-item dropdown">
        <%= image_tag "yoda2.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu top" aria-labelledby="navbarDropdown">
        <%= link_to "Chatroom", chatroom_path(@home), class: "dropdown-item-top"  %>
        <%= link_to "Expenses", home_expenses_path(@home), class: "dropdown-item-top"  %>
        <%= link_to "TODOs", home_chores_path(@home), class: "dropdown-item-top"  %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item-top" %>

        <% elsif user_signed_in? %>

          <%= link_to dashboard_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
          <% end %>

          <li class="nav-item dropdown">
          <%= image_tag "yoda2.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu top" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item-top" %>

        <% else %>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "dropdown-item-top"  %>
        </li>
    <% end %>
    </div>
   </div>

