<div class="my-chores" style="padding-top: 80px">
  <h4 class="text-center chores-title">My TODO lists</h4>

  <div class="chores-links">
    <%= render "chores/toggle_all_chores" %>
    <%# <div class="links btn-chores">

      <%= link_to 'All TODO list', home_chores_path(current_user.home) %>
    <%# </div>  %>

      <%= link_to new_home_chore_path(current_user.home), class:"action-button" do %>
      <i class="fas fa-plus fa-2x "></i>
      <% end %>
  </div>

  <% @chores.each do |chore| %>
    <div class="card chores-card" style="width: auto;">
      <div class="chores-card-content">
        <h4><%= chore.name %></h4>
      </div>
      <div class="card-footer chores-card-footer">
        <ul>
          <li>Assigned to: <strong class="assignee-name"><%= chore.assignee.first_name %></strong></li>
          <li>Description: <%= chore.description %></li>
        </ul>
        <li class="btn-mark"><%= render "chores/switch", chore: chore %></li>
      </div>
    </div>
  <% end %>
</div>
