<h1><%= @user.first_name %>'s TODO list</h1>

<div class="links">
  <%= link_to new_home_chore_path(current_user.home) do %>
  <i class="fas fa-plus"></i> Add TODO list
  <% end %>
</div>
<div class="links">
  <%= link_to 'See All TODO list', home_chores_path(current_user.home) %>
</div>

<% @chores.each do |chore| %>
  <div class="card bg-dark" style="width: 18rem;">
    <table>
      <tbody>
        <tr><th>Chores:</th><td><%= chore.name %></td></td></tr>
        <tr><th>Description:</th><td><%= chore.description %></td></tr>
        <tr><th>Assigned to:</th><td><%= chore.assignee.first_name %></td></tr>
        <tr>
        <% if chore.completed %>
          <th> <%= "All done!" %></th>
        <% else %>
          <th><%= "Not done yet :(" %></th>
        <% end %>
        </tr>
        <tr>
        <%= render "chores/switch", chore: chore %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

