<div class="my-chores container">
  <h1 class="text-center"><%= @user.first_name %>'s<br> TODO list</h1>

  <div class="chores-links">
    <div class="links btn-chores">
      <%= link_to 'All TODO list', home_chores_path(current_user.home) %>
    </div>

      <%= link_to new_home_chore_path(current_user.home), class:"action-button" do %>
      <i class="fas fa-plus fa-2x "></i>
      <% end %>

  </div>

  <% @chores.each do |chore| %>
    <div class="card bg-dark chores-card" style="width: 30rem;">
      <ul>
        <li class="todo"><strong><%= chore.name %></strong></li>
        <li>Assigned to: <strong class="assignee-name"><%= chore.assignee.first_name %></strong></li>
        <li>Description: <%= chore.description %></li>
        <li class="btn-mark"><%= render "chores/switch", chore: chore %></li>
      </ul>
        <% if chore.completed %>
        <i class="far fa-check-circle fa-2x mark-done"></i>
      <% else %>
        <i class="far fa-check-circle fa-2x mark-yet"></i>
      <% end %>
    </div>
  <% end %>
</div>
