








<div class="container">

  <div class="home-info">
    <% if @home %>
      <h1><%= @home.name.capitalize %></h1>
      <p>@ <%= @home.address %></p>
  </div>

  <div class="homies-info">


    <h2><%= @home.name.capitalize %>'s Homies</h2>

        <% @homies.each do |homie| %>

          <div class="avatar-container">
            <div class="row">
                  <div class="profile-header-container">
                  <div class="profile-header-img">
                          <img class="img-circle" src="https://pbs.twimg.com/media/D6PkrcbUUAANQZe.jpg"/>
                          <!-- badge -->
                          <div class="rank-label-container">
                              <span class="label label-default rank-label"><%= homie.first_name %> <%= homie.last_name %></span>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
        <% end %>

  </div>

    <div class="expenses-list">
    <h2><%= @home.name %>'s Expenses </h2>
      <% @home.expenses.each do |expense| %>

        <table>
          <tbody>
              <tr><th>Expense:</th><td><%= link_to expense.name, home_expense_path(@home, expense) %></td></tr>
              <tr><th>$ </th><td><%= expense.amount %></td><td>to pay</td></tr>
              <tr><th>Due on:</th><td><%= expense.due_on %></td></tr>
              <tr>
              <% if expense.paid %>
                  <th><%= "Paid" %></th>
              <% else %>
                  <th><%= "Unpaid" %></th>
              <% end %>
              </tr>
          </tbody>
        </table>

  <% end %>

  </div>

  <div class="chores-list">
  <h2><%= @home.name %>'s TODO list</h2>
    <% @home.chores.each do |chore| %>

      <table>
        <tbody>
            <tr><th>TODO:</th><td><%= link_to chore.name, home_chore_path(@home, chore) %></td></td></tr>
            <tr><th>Description:</th><td><%= chore.description %></td></tr>
            <tr><th>Assigned to:</th><td><%= chore.assignee.first_name %></td></tr>
            <tr>
              <% if chore.completed %>
                <th> <%= "All done!" %></th>
              <% else %>
                <th><%= "Not done yet :(" %></th>
              <% end %>
            </tr>

          </tbody>
        </table>

    <% end %>

  </div>

  <div class="invite-homie">
    <p> To invite new homie - send them this link </p>
    <%=new_invitation_url(@home.invite_token) %>
    <p><%= link_to 'refresh invite link', home_invitations_path(@home), method: :patch, remote: true %></p>
  </div>
  <% else %>

  <div class="homeless">
      "No home yet :("
      <p><%= link_to "Add a home", new_home_path %></p>
    <% end %>
  </div>

</div>
