<% if @home %>

   <h1><%= @home.name.capitalize %></h1>
   <p>@ <%= @home.address %></p>

   <h2>My Homies</h2>
   <ul>
     <% @homies.each do |homie| %>
     <li><%= homie.first_name %> <%= homie.last_name %></li>
     <% end %>
   </ul>

<% else %>
 "No home yet :("
 <p><%= link_to "Add a home", new_home_path %></p>
<% end %>
