<% if @home %>

  <h1><%= @home.name.capitalize %></h1>
  <p>@ <%= @home.address %></p>

<h2><%= @home.name.capitalize %>'s Homies</h2>

  <ul>
    <% @homies.each do |homie| %>

      <li><%= homie.first_name %> <%= homie.last_name %></li>
    <% end %>
  </ul>

<p> To invite new homie - send them this link </p>
<%=new_invitation_url(@home.invite_token) %>
<%= link_to 'refresh invite link', home_invitations_path(@home), method: :patch, remote: true %>

<% else %>
  "No home yet :("
  <p><%= link_to "Add a home", new_home_path %></p>
<% end %>
