<h1>All chores</h1>

<% @chores.each do |chore| %>
  <div class="card" style="width: 18rem;">
    <table>
      <tbody>
          <tr><th>Chores:</th><td><%= chore.name %></td></td></tr>
          <tr><th>Description:</th><td><%= chore.description %></td></tr>
          <tr><th>Assigned to:</th><td><%= chore.assignee %></td></tr>
          <tr>
          <% if chore.completed %>
            <th><%= "Done" %></th>
          <% else %>
            <th><%= "Not yet" %></th>
          <% end %>
          </tr>
      </tbody>
    </table>
  </div>
<% end %>

<div class="links">
  <%= link_to 'Creare new chore', new_home_chore_path %>
</div> %>
