<h1 class="text-center"><%= @home.name %>'s<br> TODO list</h1>

<div class="chores-links">
  <div class="links btn-chores">
    <%= link_to 'My TODO list', user_chores_path %>
  </div>


  <div class="links btn-add-chores">
    <%= link_to new_home_chore_path(current_user.home) do %>
    <i class="fas fa-plus fa-2x "></i>
    <% end %>
  </div>
</div>

<% @chores.each do |chore| %>
  <div class="card bg-dark chores-card" style="width: 30rem;">
    <% if chore.completed %>
      <div class="swal2-icon swal2-success swal2-animate-success-icon style="display: flex;">
        <span class="swal2-success-line-tip"></span>
        <span class="swal2-success-line-long"></span>
        <div class="swal2-success-ring"></div> 
      </div>
    <% else %>
      <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
    <% end %>
    <ul>
      <li class="todo"><strong><%= chore.name %></strong></li>
      <li>Assigned to: <strong class="assignee-name"><%= chore.assignee.first_name %></strong></li>
      <li>Description: <%= chore.description %></li>
    </ul>
  </div>
<% end %>