<div class="all-chores container">
  <h1 class="text-center"><%= @home.name %>'s<br> TODO list</h1>

  <div class="chores-links">
    <div class="links btn-chores">
      <%= link_to 'My TODO list', user_chores_path %>
    </div>

    <%= link_to new_home_chore_path(current_user.home), class:"action-button" do %>
    <i class="fas fa-plus fa-2x "></i>
    <% end %>

  </div>

  <% @chores.each do |chore| %>
    <div class="card bg-dark chores-card" style="width: 30rem;">
      <ul>
        <li class="todo"><strong><%= chore.name %></strong></li>
        <li>Assigned to: <strong class="assignee-name"><%= chore.assignee.first_name %></strong></li>
        <li>Description: <%= chore.description %></li>
      </ul>
      <% if chore.completed %>
        <i class="far fa-check-circle fa-2x mark-done"></i>
      <% else %>
        <i class="far fa-check-circle fa-2x mark-yet"></i>
      <% end %>
    </div>
  <% end %>

  </div>
