<div class="all-chores" style="padding-top: 80px">
  <h4 class="text-center chores-title">All TODO lists</h4>

  <div class="chores-links">
  <%= render "chores/toggle_my_chores" %>
    <%# <div class="links btn-chores">

      <%= link_to 'My TODO list', user_chores_path %>
    </div>

    <%= link_to new_home_chore_path(current_user.home), class:"action-button" do %>
      <i class="fas fa-plus fa-2x "></i>
    <% end %>
  </div>

  <% @chores.each do |chore| %>
    <div class="card chores-card" style="width: auto;">
      <div class="chores-card-content">
        <h4><%= chore.name %></h4>
      </div>
      <div class="card-footer chores-card-footer">
        <ul>
          <li>Dear: <span class="assignee-name"><%= chore.assignee.first_name %></span></li>
          <li>Please: <%= chore.description %></li>
        </ul>
        <% if chore.completed %>
          <i class="far fa-check-circle fa-2x mark-done"></i>
        <% else %>
          <i class="far fa-check-circle fa-2x mark-yet"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
