<%# # TODO: don't use this page %>

<h1>TODO: <%= @chore.name %> </h1>

  <div class="card" style="width: 18rem;">
    <table>
      <tbody>
        <tr><th>Description:</th><td><%= @chore.description %></td></tr>
        <tr><th>Assigned to:</th><td><%= @chore.assignee.first_name %></td></tr>
        <tr>
        <% if @chore.completed? %>
          <th> <%= "All done!" %></th>
        <% else %>
          <th><%= "Not done yet :(" %></th>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>

<div class="links">
    <%= link_to "Back to #{@home.name}'s TODO list", home_chores_path %>
</div>
