<div class="all-expenses container" style="padding-top: 80px">
  <h4 class="text-center expenses-title">All expense lists</h4>

  <div class="expenses-links">
    <div class="links btn-expenses">
      <%= link_to 'My Expenses', user_expenses_path %>
    </div>

   <%= link_to new_home_expense_path(current_user.home), class:"action-button" do %>
   <i class="fas fa-plus fa-2x "></i>
   <% end %>
  </div>

  <% @expenses.each do |expense| %>
    <div class="card expenses-card" style="width: 30rem;">
      <div class="expenses-card-content">
        <h4><%= link_to expense.name, home_expense_path(@home, expense), class:"text-center" %></h4>
      </div>
      <div class="card-footer expenses-card-footer">
        <ul>
          <li>Amount: <strong class="amount">$ <%= expense.amount.round %></strong></li>
          <li>Due on: <span class="color-white"><%= expense.due_on.strftime('%d %b') %></span></li>
          <li>Description: </th><td><%= expense.description %></li>
        </ul>
        <% if expense.paid %>
          <div><i class="far fa-check-circle fa-2x mark-done"></i></div>
        <% else %>
          <div><i class="far fa-check-circle fa-2x mark-yet"></i></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

