<h1>All bills</h1>

<% @expenses.each do |expense| %>
  <div class="card bg-dark" style="width: 18rem;">
    <table>
      <tbody>
          <tr><th>Bill:</th><td><%= link_to expense.name, home_expense_path(@home, expense), class:"text-center" %></td></tr>
          <tr><th>$ </th><td><%= expense.amount %></td><td>to pay</td></tr>
          <tr><th>Due on:</th><td><%= expense.due_on %></td></tr>
          <tr>
          <% if @expense_share.paid %>
              <th><%= "Paid" %></th>
          <% else %>
              <th><%= "Unpaid" %></th>
          <% end %>
          </tr>
      </tbody>
    </table>
  </div>
<% end %>

<div class="links">
  <%= link_to 'Add a new bill', new_home_expense_path %>
</div>
