<div class="expenses container">
  <h1>Create new expense</h1>

  <div>
    <%= simple_form_for [@home, @expense] do |f|%>
      <%= f.input :name %>
      <%= f.input :amount %>
      <%= f.input :due_on, as: :string, input_html: { id: "date-flatpickr" } %>
      <%= f.input :description, collection: Expense::EXPENSES %>
      <%= f.association :expense_shares, as: :check_boxes, collection: @home.users,  multiple: true, include_hidden: false %>
      <%= f.button :submit, value: 'Add expense', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>

  <%# <div class="links"> %>
      <%#= link_to 'cancel', dashboard_path %>
      <%#= link_to 'See all Expenses', home_expenses_path %>
  <%# </div> %>
<%# </div> %>
