<h1>Create new bill</h1>

<div>
  <%= simple_form_for [@home, @expense] do |f|%>
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :due_on %>
    <%= f.input :description %>
    <%= f.button :submit, value: 'Add bill', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="links">
    <%= link_to 'cancel', dashboard_path %>
</div>
