<!DOCTYPE html>
<html>
  <head>
    <title>Myhomies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> %>
    <%# <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


    <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> %>
    <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> %>
  </head>

  <body>
  <div class="app">
  
    <div class="app-header">
      <%= render 'shared/navbar' %>
    </div>

    <div class="app-content">
      <%= render 'shared/flashes' %>
      <%= yield %>

    <% if user_signed_in? && current_user.home %>

      <%= render 'shared/bottom_nav' %>

    <% end %>

  </div>

  </body>
</html>
